<div class="container">
  <div class="row justify-content-center">
    <div
      class="alert alert-info text-center"
      role="alert"
      *ngIf="spinner && primera_busqueda"
    >
      Debido a que se esta utilizando un servidor gratuito para el Rest API,
      puede que la primera busqueda demore un poco debido a que este entra en
      modo de hibernación al no usarse durante un timepo.
    </div>
    <div class="col text-center mt-4">
      <h1 class="title">Ventas Registradas</h1>
    </div>
    <div class="col-12 text-center">
      <span class="fw-bold">Filtrar por:</span>
      <form
        class="example-container"
        [formGroup]="options"
        (ngSubmit)="filtrar()"
      >
        <mat-form-field class="me-4">
          <mat-label>Producto</mat-label>
          <input
            matInput
            type="text"
            placeholder="ex. Comida"
            [formControl]="productoControl"
          />
        </mat-form-field>
        <mat-form-field class="me-4">
          <mat-label>Empresa</mat-label>
          <input
            matInput
            type="text"
            placeholder="ex. Perrolandia"
            [formControl]="empresaControl"
          />
        </mat-form-field>
        <mat-form-field class="me-4">
          <mat-label>Comprador</mat-label>
          <input
            matInput
            type="text"
            placeholder="ex. David"
            [formControl]="compradorControl"
          />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Rango de fechas</mat-label>
          <mat-date-range-input [rangePicker]="campaignOnePicker">
            <input
              matStartDate
              placeholder="Fecha min."
              formControlName="start"
            />
            <input matEndDate placeholder="Ficha max." formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="campaignOnePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <button mat-button color="primary" type="submit">Filtrar</button>
        <a mat-button (click)="cleanForm()" target="_blank">Limpiar</a>
      </form>
    </div>
    <div
      class="col-12 mat-elevation-z8"
      *ngIf="ventas?.filteredData?.length != 0"
    >
      <table mat-table matSort [dataSource]="ventas" class="text-center">
        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ col.replace("_", " ") | titlecase }}
          </th>
          <td mat-cell *matCellDef="let venta">{{ venta[col] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[3, 5, 8]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div
      class="alert alert-danger text-center"
      role="alert"
      *ngIf="ventas?.filteredData?.length == 0 && !spinner"
    >
      No se han encontrado resultados
    </div>

    <div class="col-1 mt-5" *ngIf="spinner">
      <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>
    </div>
  </div>
</div>
